/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  /* 기본 clear 버튼 숨기기 */
  input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }
}

@layer components {
  /* all page */
  .page-container {
    @apply min-h-screen w-full flex flex-col justify-center items-center bg-black;
  }

  /* header */
  .title {
    @apply m-12 text-2xl font-extrabold leading-none tracking-tight text-white md:text-3xl lg:text-5xl;
  }

  .navigation-button {
    @apply text-black mt-8 mb-8 bg-white hover:bg-gray-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center;
  }

  /* language page & cuisine page */
  .white-button {
    @apply py-2.5 px-5 me-2 mb-2 text-sm font-medium text-black focus:outline-none bg-gray-100 rounded-lg  hover:bg-white focus:z-10 focus:ring-4 focus:ring-gray-100;
  }

  .video-container {
    @apply w-full flex justify-center items-center overflow-hidden;
  }

  .responsive-video {
    @apply w-full h-auto max-h-full;
  }

  /* Responsive adjustments for video */
  @media (min-width: 640px) {
    /* sm */
    .responsive-video {
      @apply w-1/4; /* 모바일에서는 너비를 50%로 조정 */
    }
  }

  @media (min-width: 768px) {
    /* md */
    .responsive-video {
      @apply w-1/2; /* 태블릿에서는 너비를 75%로 조정 */
    }
  }

  /* ingredient page */
  .search-input {
    @apply block w-full py-2.5 px-5 p-4 ps-10 text-sm font-normal text-gray-900 rounded-lg bg-white focus:ring-orange-500 focus:border-orange-500;
    transition: none; /* 트랜지션 제거 */
  }

  .search-input:focus {
    @apply outline-none ring-0; /* 포커스 상태에서의 스타일링 */
  }

  .search-input::placeholder {
    @apply text-sm font-light;
  }

  .search-icon {
    @apply absolute inset-y-0 right-0 flex items-center pr-3;
    pointer-events: none;
  }

  .submit-button {
    @apply w-auto mx-auto mt-4 py-2.5 px-5 text-sm font-bold text-black rounded-lg  bg-gradient-to-r from-orange-200 via-orange-300 to-yellow-200 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-100;
  }

  .ingredient-button {
    @apply py-1.5 px-3.5 me-2 mb-2 text-sm font-medium text-gray-400 focus:outline-none bg-gray-900 rounded-full border border-gray-800 hover:text-white  focus:z-10;
  }

  .category-container {
    @apply m-8 bg-gradient-to-b from-black to-white/5 rounded-xl outline outline-white/10 outline-1 p-12;
  }

  .category-title {
    @apply mb-8 text-2xl font-extrabold leading-none text-white;
  }

  .recipe {
    @apply m-8 bg-gradient-to-b from-black to-white/5 rounded-xl outline outline-white/10 outline-1 p-8;
  }

  .recipe-title {
    @apply text-white text-xl font-bold mb-2 leading-relaxed text-center;
    white-space: pre-line; /* 이 부분을 직접 추가 */
  }

  .ingredients-title,
  .instruction-title {
    @apply text-white text-lg font-semibold mt-8 mb-2;
  }

  .ingredients,
  .instructions {
    @apply text-white ml-5 list-disc mb-2;
  }

  .grandma_tip {
    @apply text-orange-500 font-bold;
  }

  /* 추가된 스타일 */
  .recipePage-container {
    @apply flex flex-col justify-start min-h-screen;
  }

  .recipePage-title {
    @apply mb-8 text-2xl font-extrabold leading-none text-white leading-relaxed text-center whitespace-pre-line w-full;
  }
}
