/* index.css */

/* Reset some basic elements to provide a consistent baseline */
body,
h1,
h2,
p,
div,
button {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
}

/* Body styling */
body {
  background-color: #fffaf0; /* A light background to make the buttons pop */
  color: #333;
  line-height: 1.6;
}

/* Container styling */
div {
  padding: 10px;
}

/* Category headers */
h2 {
  color: #ff6347; /* Tomato color */
  margin-bottom: 10px;
  font-size: 1.5rem;
}

/* Button styling */
button {
  background-color: #ffffff; /* OrangeRed */
  color: #333;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #eeeeee;
  transform: scale(1.05);
}

button:active {
  background-color: #000000;
  color: #ffffff;
  transform: scale(1);
}

/* 선택된 버튼 스타일 */
button.selected {
  background-color: #ff8c00; /* DarkOrange */
  color: white;
}

/* ingredient selection button styling */
button.ingredient-button {
  padding: 5px 10px;
}

/* Submit button styling */
button.submit-button {
  background-color: #ff8c00; /* DarkOrange */
  margin-top: 20px;
}

button.submit-button:hover {
  background-color: #ffa500; /* Orange */
}

button.submit-button:active {
  background-color: #ff7f50; /* Coral */
}
